@* 這是資產摘要卡片的部分視圖 *@
<div class="container text-center mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h5 class="card-title">總資產</h5>
                    <p class="card-text">3000 台</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">線上資產</h5>
                    <p class="card-text">2500 台</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning text-white">
                <div class="card-body">
                    <h5 class="card-title">異常資產</h5>
                    <p class="card-text">200 台</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger text-white">
                <div class="card-body">
                    <h5 class="card-title">離線資產</h5>
                    <p class="card-text">300 台</p>
                </div>
            </div>
        </div>
    </div>
</div>
